body{
    background-color: rgb(228, 220, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cabecalho{
    border: darkorchid 1px solid;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    justify-content: center;
    text-align: center;
    color: purple;
}

#conteudo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a{
    color: blue;
    text-decoration: unset;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

form{
    font-size: 16px;
    background: rgb(228, 220, 228);
    max-width: 500px;
    margin: 0 auto;
    padding: 1px 10px 10px 10px ;
}

h2{
    color: purple;
}

input, textarea{
    width: 470px;
    padding: 10px;
}

.enviar input{
    background-color: purple;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: hotpink 2px 2px 5px;
    color: white;
    cursor: pointer;
}

.enviar input:hover{
    background: salmon;
}

textarea{
    width: 470px;
    height: 120px;
    line-height: 20px;
}

#rodape{
    display: flex;
    justify-content: center;
    background-color: grey;
    padding-top: 10px;
    margin-top: 10px;
}

#redessociais{
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: bottom 10px;
}

#redewhats{
    width: 5%;
}

#redeinsta{
    width: 5%;
    justify-content: center;
}

.contato{
    color: white;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: justify;
    justify-content: space-evenly;
}