body{
    background-color: rgb(228, 220, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cabecalho{
    border: darkorchid 1px solid;
    border-radius: 10px;
    padding-left: 100px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    justify-content: center;
}

#conteudo{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a{
    color: blue;
    text-decoration: unset;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#imgloja{
    width: 100%;
}

#principaisnoticias{
    display: flex;
    justify-content: center;
    text-shadow: violet 1px 1px 5px;
}